﻿@model List<ShopOnlineConnection.SanPham>
@{
    ViewBag.Title = "AllProducts";
}

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="single-product-widget">
                    <div class="single-wid-product">
                        <a href="@Url.Action("Details", new { id = item.MaSP })"><img src=@item.HinhAnh alt="" class="product-thumb"></a>
                        <h2>@Html.ActionLink(item.TenSP, "Details", new { id = item.MaSP })</h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>@item.Gia</ins>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
