﻿@model PetaPoco.Page<ShopOnlineConnection.SanPham>
@{
    ViewBag.Title = "Index";
}

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-4">
                <div class="single-product-widget">
                    <div class="single-wid-product">
                        <a href="@Url.Action("Details", new { id = item.MaSP })"><img src=@item.HinhAnh alt="" class="product-thumb"></a>
                        <h2>@Html.ActionLink(item.TenSP, "Details", new { id = item.MaSP })</h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>@item.Gia</ins>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
 </div>
<div class="product-pagination text-center">
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li>@Html.ActionLink(i.ToString(), "Index", new { page = i })</li>

            }



            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>



